/* universal styles */

html,
body {
  font-family: "Calibri";
  font-size: 16px;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

h2{
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  padding: 32px 0;
}

h3{
  font-weight: bold;
}


/* header styles */

  .menu {
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  .logo{
    align-items: center;
    height: 32px;
    padding-left: 24px;
  }

  ul{
    padding-right: 24px;
  }

  li {
    padding-left: 16px;
  }

  .mobile{
    display: none;
  }

/* banner */

  .banner{
    background-color: lightgrey;
  }

  .banner-image{
    width:60%;
    padding: 32px 24px;
  }

  .banner-image img{
    max-width: 100%;
  }

  .banner-content{
    width: 40%;
    flex-direction: column;
    justify-content: center;
  }

  .banner-content h2{
    font-size: 3rem;
    padding: 0 80px 0 0;
    text-align: left;
  }

  .banner-content h3{
    font-size: 1.4rem;
    padding: 30px 80px 30px 0;

  }

  .button{
    color: white;
    text-align: center;
    width: 70%;
    background-color: grey;
    padding: 8px 0;
  }

/* intro */

  .left{
    width: 60%;
    flex-direction: column;
    padding: 32px 24px;
  }

  .left-content{
    padding-top: 32px;
  }

  .left-content p{
    padding-top: 24px;
    line-height: 1.5;
  }

  .left-content h2{
    font-size: 2.2rem;
    text-align: left;
    padding: 0;
    }

  .left img{
    width: 100%;
  }

  .right{
    width: 40%;
    flex-direction: column;
    padding: 16px 0;
  }

  .item{
    align-content: flex-end;
    padding: 16px;
    align-items: center;
  }

  .item img{
    height: auto;
    width: 35%;
  }

  .item-content{
    width: 65%;
    padding-left: 16px;
  }

  .item-content h3{
    font-size: 1.2rem;
  }

  .item-content h4{
    font-size: .9rem;
    padding: 8px 0;
    line-height: 1.5;
  }

  .item-content span{
    font-size: .9rem;
    color: navy;
  }

  /* Start learning */

  .learning{
    background: lightgrey;
    flex-direction: column;
  }

  .studies{
    padding: 0 56px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .study {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 16px 32px 16px;
  }

  .study-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .study img{
    height: auto;
    max-width: 100%;
  }

  .study-content h3{
    font-size: 1.2rem;
  }

  .study-content h4{
    padding: 8px 0;
    text-transform: uppercase;
  }

  .study-content {
    padding: 16px 24px 24px 16px;
  }

  /* Thesis exhibit */

  .thesis .left{
    padding-top: 0;
  }

  .thesis .left-content p{
    padding-top: 8px;
  }

  .thesis .right{
    padding-top: 0;
  }

  .item-grey {
    background-color: lightgrey;
  }

  .left video{
    width: 100%;
  }

  footer{
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    padding:16px 0;
  }

  footer span{
    padding-left: 24px;
  }

  @media only screen and (max-width: 1080px){

    .banner-content h2{
      font-size: 2.5rem;
      padding-right: 20px;
    }

    .banner-content h3{
      font-size: 1.2rem;
      padding-right: 20px;
    }

    .studies{
      justify-content: center;
    }

    .study{
      width: 45%;
      }
    }

  @media only screen and (max-width: 750px){

    .banner-content h2{
      font-size: 2.3rem;
    }

    .mixed{
      flex-direction: column;
    }

    .left, .right{
      width: 75%;
      margin: 0 auto;
    }

    .item {
      margin-bottom: 16px;
      background-color: lightgrey;
    }

    .study{
      width: 80%;
    }
  }

  @media only screen and (max-width: 655px){

    .banner{
      flex-direction: column;
      width: 100%;
    }

    .banner-image{
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    .banner-content{
      width: 80%;
      margin: 0 auto;
      padding: 32px 16px;
    }

    .banner-content h2{
      padding:0;
    }

    .banner-content h3{
      padding: 32px 0 24px 0;
    }

    .button{
      width: 100%;
    }
  }

  @media only screen and (max-width: 550px){

    header h1{
      height: 64px;
      display: none;
    }

    .desktop{
      display: none;
    }

    .mobile{
      display: inline;
    }

    .logo {
      width: 100%;
      padding: 0 24px;
      justify-content: space-between;
    }

    .intro .left{
      display: none;
    }

  }
