/* universal styles */

html,
body {
  font-family: "Calibri";
  font-size: 16px;
}

.container{
  width: 1230px;
  margin: 0 auto;
}


/* header styles */

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  .logo{
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
  }

  header ul{
    display: flex;
    padding-right: 24px;
  }

  header li {
    padding-left: 16px;
  }

/* banner */

  .banner{
    display: flex;
    background-color: lightgrey;
  }

  .banner-image{
    width:60%;
    padding: 32px 24px;
  }

  .banner-image img{
    max-width: 100%;
  }

  .banner-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-content h2{
    font-weight: bold;
    font-size: 3rem;
    padding-right: 100px;
  }

  .banner-content h3{
    font-weight: bold;
    font-size: 1.4rem;
    padding: 30px 200px 30px 0;

  }

  .button{
    color: white;
    text-align: center;
    width: 70%;
    background-color: grey;
    padding: 8px 0;
  }

/* learning */

  .learning{
    display:flex;
  }

  .practicing{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
  }

  .practicing-content{
    padding-top: 32px;
  }

  .practicing-content p{
    padding-top: 24px;
    padding-bottom: 32px;
    line-height: 1.5;

  }

  .practicing-content h2{
    font-weight: bold;
    font-size: 2.2rem;
  }

  .practicing img{
    width: 100%;
  }

  .orientation{
    display: flex;
    width: 40%;
    flex-direction: column;
    border-left: 1px solid grey;
    padding: 16px 0;
  }

  .item{
    display: flex;
    align-content: flex-end;
    padding: 16px;
    align-items: center;
    border: 1px solid grey;
  }

  .item img{
    height: auto;
    width: 35%;
  }

  .item-content{
    width: 65%;
    padding-left: 16px;
  }

  .item-content h3{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .item-content h4{
    font-size: .9rem;
    padding: 8px 0;
    line-height: 1.5;
  }

  .item-content span{
    font-size: .9rem;
    color: navy;
  }
