/* universal styles */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,400i,700');

:root{
  --main-color: #99ffcc;
  --hover-color: #99ccff;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.name{
  font-style: italic;
}

.button {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--main-color);
  padding: .5rem;
}

.button:hover{
  color: white;
  background-color: var(--hover-color);
  transition: .4s ease all;
}

.fab:hover{
  cursor: pointer;
  color: var(--hover-color);
  transition: .3s ease all;
}

h2{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 2.2rem;
  padding: 32px 0;
  font-weight: bold;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

p{
  line-height: 1.5;
}

ul li:hover{
  font-weight: bold;
  color: var(--hover-color);
  transition: .3s ease all;
}

main{
  padding-top: 64px;
}

/* header styles */

  header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid var(--hover-color);
  }

  .menu {
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  .logo{
    align-items: center;
    height: 32px;
    padding-left: 24px;
  }

  ul{
    padding-right: 24px;
  }

  li {
    font-size: .9rem;
    padding-left: 16px;
  }

  li:hover{
    color: var(--hover-color);
    cursor: pointer;
  }

  .mobile{
    display: none;
  }

/* banner */

  .banner{
    /* background-color: var(--main-color); */
    background-image: linear-gradient(to left top, rgba(153, 255, 204, 0.5), rgba(255, 255, 204, 0.35));
  }

  .banner-image{
    width:60%;
    padding: 32px 24px;
  }

  .banner-image img{
    max-width: 100%;
  }

  .banner-content{
    width: 40%;
    flex-direction: column;
    justify-content: center;
  }

  .banner-content h2{
    font-size: 3rem;
    padding: 0 80px 0 0;
    text-align: left;
  }

  .banner-content p{
    font-size: 1.4rem;
    padding: 30px 80px 30px 0;

  }

  .banner-content .button{
    text-align: center;
    width: 70%;
    background-color: white;
  }

  .banner-content .button:hover{
    background-color: var(--hover-color);
    color: white;
    transition: .4s ease all;
  }

/* intro */

  .left{
    width: 60%;
    flex-direction: column;
    padding: 32px 24px;
  }

  .left-content{
    padding-top: 32px;
  }

  .left-content p{
    padding-top: 24px;
    line-height: 1.5;
  }

  .left-content h2{
    font-size: 2.2rem;
    text-align: left;
    padding: 0;
    }

  .left img{
    width: 100%;
  }

  .right{
    width: 40%;
    flex-direction: column;
    padding: 16px 0;
  }

  .item{
    align-content: flex-end;
    padding: 16px;
    align-items: center;
  }

  .item img{
    height: auto;
    width: 35%;
  }

  .item-content{
    width: 65%;
    padding-left: 16px;
  }

  .item-content h3{
    font-size: 1.2rem;
  }

  .item-content p{
    font-size: .9rem;
    padding: 8px 0;
    line-height: 1.5;
    margin-bottom: .5rem;
  }

  .item-content span{
    font-size: .9rem;
  }

  /* Start learning */

  .learning{
    background-image: linear-gradient(to left top, rgba(153, 255, 204, 0.5), rgba(255, 255, 204, 0.35));
    flex-direction: column;
  }

  .studies{
    padding: 0 56px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .study {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 16px 32px 16px;
  }

  .study-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .study img{
    height: auto;
    max-width: 100%;
  }

  .study-content h3{
    font-size: 1.2rem;
  }

  .study-content h4{
    padding: 8px 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
  }

  .study-content {
    padding: 16px 24px 24px 16px;
  }

  /* Thesis exhibit */

  .thesis .left{
    padding-top: 0;
  }

  .thesis .left-content p{
    padding-top: 8px;
  }

  .thesis .right{
    padding-top: 0;
  }

  .item-grey {
    background-image: linear-gradient(to left top, rgba(153, 255, 204, 0.5), rgba(255, 255, 204, 0.35));
  }

  .left video{
    width: 100%;
  }

  /* Footer */

  .footer{
    justify-content: space-between;
  }

  .social-media {
    text-align: center;
  }

  .social {
    justify-content: center;
    align-items: center;
    padding:16px 0;
  }

  .fab {
    color: var(--main-color);
    padding-left: 16px;
  }

  footer{
    border-top: 1px solid var(--main-color);
    padding:16px 0;
  }

  .fab:hover{
    color: var(--hover-color);
  }

  footer span{
    padding-left: 24px;
  }

  @media only screen and (max-width: 1100px){

    /* Banner */

    .banner-content h2{
      font-size: 2.3rem;
      padding-right: 20px;
    }

    .banner-content p{
      font-size: 1.2rem;
      padding-right: 20px;
    }

    /*Learning */

    .studies{
      justify-content: center;
    }

    .study{
      width: 44%;
      }
    }

  @media only screen and (max-width: 750px){

    .button{
      background-color: white;
    }

    /* Banner */

    .banner-content h2{
      font-size: 1.8rem;
    }

    .banner-content p{
      font-size: 1.1rem;
      padding: 10px 80px 10px 0;
    }

    /* Intro */

    .mixed{
      flex-direction: column;
    }

    .left, .right{
      width: 75%;
      margin: 0 auto;
    }

    .item {
      margin-bottom: 16px;
        background-image: linear-gradient(to left top, rgba(153, 255, 204, 0.5), rgba(255, 255, 204, 0.35));
    }

    /*Learning */

    .study{
      width: 90%;
    }

    .studies {
      padding: 0 28px;
    }

  }

  @media only screen and (max-width: 655px){

    /* Banner */

    .banner{
      flex-direction: column;
      width: 100%;
    }

    .banner-image{
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    .banner-content{
      width: 80%;
      margin: 0 auto;
      padding: 32px 16px;
    }

    .banner-content h2{
      padding:0;
      font-size: 1.6rem;
    }

    .banner-content p{
      padding: 32px 0 24px 0;
    }

    .banner-content .button{
      width: 100%;
    }

  }

  @media only screen and (max-width: 583px){

    /* Header */

    header h1{
      height: 64px;
      display: none;
    }

    .desktop{
      display: none;
    }

    .mobile{
      display: inline;
    }

    .logo {
      width: 100%;
      padding: 0 24px;
      justify-content: space-between;
    }

    /* intro */

    .left{
      width: 100%;
      padding: 0;
    }

    .left-content {
      display: none;
    }

    .intro .left{
      display: none;
    }

    .right{
      width: 100%;
      margin-top: 20px;
      padding-top: 0;
    }

    .item {
      flex-direction: column;
      background-color: white;
    }

    .item img {
      width: 100%;
    }

    .item-content{
      width: 100%;
      padding: 32px 0 20px 20px;
    }

    /* Learning */

    .learning {
      background-color: white;
      background-image: none;
    }

    .studies {
      padding: 0;
    }

    .study{
      width: 100%;
      margin: 0 16px 8px 16px;
    }

    .study-content{
      background-image: linear-gradient(to left top, rgba(153, 255, 204, 0.5), rgba(255, 255, 204, 0.35));
      padding: 0;
    }

    .study-content h3{
      padding: 16px 0 24px 16px;
    }

    .thesis{
      padding-top: 32px;
    }

    .thesis .right{
      display: none;
    }

    .thesis .left{
      padding-bottom: 24px;
    }

  }
